language: java

jobs:
  include:
    - script: mvn cobertura:cobertura
    - stage: compile
      script: mvn compile
    - stage: test
       script: mvn test
      after_success:
        - bash <(curl -s https://codecov.io/bash)
    - stage: deploy
      if: branch = master
      script: mvn package
      #deploy:
      #  provider: releases
      #  api_key: OAUTH KEY
      #  file_glob: true
      #  file: dir/*
      #  skip_cleanup: true
      #  on:
      #    branch: release
      #    tags: true